footer.justify-content-center
    nav.navbar.navbar-expand.esab-yellow-bg
        .container-fluid
            .row.mx-auto
                .col-lg-12   
                    ul.navbar-nav.flex-wrap.flex-sm-nowrap.justify-content-center
                        a.nav-link(href='https://www.esabna.com/us/en/about/index.cfm' target="_blank")  About
                        a.nav-link(href='https://www.esabna.com/us/en/about/privacy.cfm' target="_blank") Privacy & Legal Notice
                        a.nav-link(href='https://www.esabna.com/us/en/support/index.cfm' target="_blank") Product Support
                        a.nav-link(href='https://www.esabna.com/us/en/products/index.cfm' target="_blank") Products & Services
    .row.mx-auto.text-center.bg-light.text-light.py-2
        .col-12
            small.text-muted.d-block  Copyright ESAB