header
    nav.navbar.navbar-expand-xl.esab-yellow-bg
        .container-fluid
            .row.align-items-center
                .col-4.col-sm-2.col-xl-1
                    a.navbar-brand.flex-shrink-1(href='#')
                        img.img-fluid(src='https://esabburnandearn.com/images/ESAB_Freezone_Color_hi.jpg')
                .col-4.d-xl-none.ml-auto.text-right
                    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                        span.fas.fa-bars
                .col-lg-10.text-lg-right.ml-auto       
                    #navbarNavAltMarkup.collapse.navbar-collapse
                        ul.navbar-nav.ml-lg-auto
                            a.nav-link.active(href='#')
                                | Home 
                                span.sr-only (current)
                            a.nav-link(href='#') Track
                            a.nav-link(href='#') FAQ
                            a.nav-link(href='#') Contact Us
                            a.nav-link(href='https://login.wirecard.com/' target="_blank") Card Balance
                            a.nav-link(href='#') Rebate Forms
            



