extends layout

block main-content
    main.esab-faq.d-flex.flex-column.flex-grow-1
        .container.my-auto
            .row
                .col-12
                        .esab-faq-container.text-center
                            h1.my-3.text-uppercase FAQ