extends layout

block main-content
    main.esab-home.d-flex.flex-column.flex-grow-1
        section#promotion-content
            .container
                .row
                    .col-12.mb-3
                        h1.mb-0.text-uppercase Promotion Details
                        small.d-block.mb-3 
                            span.font-weight-bold Offer Number: 
                            span PFO-RWD
                        p.mb-0 Select a promotion below to continue                     
                    .col-12.mb-5
                        .card.esab-card
                            .card-body
                                .row
                                    .col-12.col-md-6.col-lg-4.order-md-1
                                        h5.mb-0 Q4 - Burn and Earn - Prepaid Visa
                                        
                                        small.text-muted.font-weight-bold.mr-1 Purchase Dates
                                        small.text-muted 10/01/2020 - 12/31/2020    
                                    .col-12.col-md-8.mx-auto.col-lg-4.order-md-3.order-lg-2.mb-3
                                        img.img-fluid(src='https://esabburnandearn.com/images/1512749885477.png')
                                
                                    .col-12.col-md-6.col-lg-4.order-md-2.mb-3
                                        .d-flex.justify-content-between.align-items-center
                                            p.font-weight-bold.mb-0 Your Progress:
                                            span.progress-amt 25%
                                        hr  
                                        .d-flex.justify-content-between
                                            small.text-muted 0%
                                            small.text-muted 100%
                                        .progress.mb-3
                                            .progress-bar(role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100") 
                                    .col-12.order-md-4
                                        .row.justify-content-between
                                            .col-6.col-sm-4.col-md-3.col-xl-2
                                                a.btn.btn-outline-secondary.btn-block(href="/index.html") Back
                                            .col-6.col-sm-4.col-md-3.col-xl-2
                                                a.btn.btn-secondary.btn-block(href="/claims-form.html") Continue

                    .col-12
                        small.text-muted
                            span.font-weight-bold Details: 
                            span Rebate Terms and Conditions: You must purchase a qualifying ESAB product to qualify for this rebate offer. This offer is valid only for product purchases made during the promotion period, which begins on October 1, 2020 and ends on December 31, 2020. Rebate requests submitted after January 15, 2021 will not be accepted. Distributors, retailers, and employees of ESAB are not eligible to participate. Alteration or attempted alteration of sales receipt is prohibited and constitutes fraud. Fraudulent submissions will not be honored. No duplicate requests or mechanical reproductions. ESAB is not responsible for illegible, lost, late, or undelivered mail or email, and reserves the right to verify identification and sale. ESAB reserves the right, without prior notice, to discontinue or change the program at any time. This includes but is not limited to qualifying sales, rebates and rebate values. Incomplete or noncomplying rebate submissions will not be honored, acknowledged, or returned. Please make a copy of your rebate form for your files. Rebate form may not be assigned, transferred, or sold. ESAB Burn and Earn Mastercard prepaid card is issued by WireCard. No cash access or recurring payments. Card valid for up to 1 year; unused funds will be forfeited at midnight EST the last day of the month of the valid thru date. Card terms and conditions apply, see WireCard.com for details. Individuals may not redeem rebates on purchases made by or on behalf of the individual’s employer. Please allow up to four to six weeks from the time the form is received for delivery of rebate card. Offer valid in the fifty United States and DC. Void where prohibited, taxed, or restricted by law. The funds received as a result of the ESAB Rewards program could have a federal, state and/or local tax consequence. Please consult a tax advisor with any questions regarding these payments. By submitting a rebate request, you acknowledge that ESAB will retain your contact information for future marketing efforts in accordance with the terms of our Privacy Policy (available at https://www.esabna.com/us/en/about/privacy.cfm) 

                      
