extends layout

block main-content
    main.esab-rebate-forms.d-flex.flex-column.flex-grow-1
        .container.my-auto
            .row
                .col-12.col-lg-5.mx-auto
                        .track-rebate-container.text-center
                            h1.my-3.text-uppercase Rebate Forms
                            a.d-block.mb-3(href="https://esabburnandearn.com/images/GEN-27260Q4_FP_BurnEarn_Rebate_US_flyer_08-07-20aFNL.pdf" target="_blank")
                                img.img-fluid.d-block(src='https://esabburnandearn.com/images/FP-fall-button.png')
                            a.d-block(href="https://esabburnandearn.com/images/GEN-27256Q4_ESAB_BurnEarn_US_EN_08-21-20aFinal.pdf" target="_blank")
                                img.img-fluid.d-block(src='https://esabburnandearn.com/images/ESAB-fall-button.png')