$white: #fff;
$black: #000;
$grey: #8b8b8b;
$yellow: #ffd333;
$yellow-pale: lighten($yellow, 25%);
$yellow-dark: darken($yellow, 25%);
$header-links: darken($yellow-dark, 15%);
$input: lighten($grey, 35%);

// $base-font-size: 1rem;
// $h5: $base-font-size * 1.618;
// $h4: $h5 * 1.618;
// $h3: $h4 * 1.618;
// $h2: $h3 * 1.618;
// $h1: $h2 * 1.618;

// $sizes: (
//   $h5: "h5",
//   $h4: "h4",
//   $h3: "h3",
//   $h2: "h3",
//   $h1: "h2",
// );

// h1 {
//   font-size: $h1;
// }
// h2 {
//   font-size: $h2;
// }
// h3 {
//   font-size: $h3;
// }
// h4 {
//   font-size: $h4;
// }
// h5 {
//   font-size: $h5;
// }

// assigns each font size
// @each $size, $var in $sizes {
//   #{$size} {
//     font-size: $size * $base-font-size;
//   }
// }
