@import "_variabes.scss";

body,
html {
  background: $white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}
h1 {
  font-size: 28px;
}

// h2 {
//   font-size: $h1-font-size * 0.9;
// }

// Color Utilities
.esab-yellow-bg {
  background: $yellow;
}

.esab-dark {
  background: $black;
  color: $white;
}

// Elements

// Header
header {
  border-bottom: 2px solid $black;
}

// Buttons
.esab-btn-primary,
.esab-btn-secondary,
.status-btn {
  background: $black;
  color: $yellow;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  &:hover {
    background: $yellow;

    color: $black;
  }
}

.status-btn {
  background: #b7c9d3;
  border: none;
  color: $black;
  &:hover {
    background: darken(#b7c9d3, 25%);
  }
}

// Header

nav a {
  color: $header-links;
  &:hover {
    color: darken($header-links, 25%);
  }
}
.fas.fa-bars {
  border: 1px solid $yellow-dark;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  background: $black;
  font-size: 1rem;
  color: $yellow;
  line-height: 40px;
}

// Main

main {
  background: rgba(218, 226, 230, 1);
  background: -moz-linear-gradient(
    top,
    rgba(218, 226, 230, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(218, 226, 230, 1)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(218, 226, 230, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(218, 226, 230, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(218, 226, 230, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(218, 226, 230, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dae2e6', endColorstr='#ffffff', GradientType=0 );
}

.jumbotron {
  border-radius: 0;
}

section {
  margin: 3em 0;
}

// Forms

input.form-control {
  border-radius: 2px;
}

.enter-code-container,
.track-rebate-container {
  background: $white;
  border-radius: 5px;
  padding: 1.5em;
  box-shadow: 0 13px 33px rgba(0, 0, 0, 0.35);
}

.enter-code-container {
  .form-control {
    background: $input;
    border: none;
  }
}

.progress-amt {
  color: $yellow-dark;
}

// Nav Tabs
.nav-tabs {
  .nav-links {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid $black;
  }
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $black;
}
// Footer

footer a {
  font-size: 0.8rem;
}

// Media Queries
@media (min-width: 1024px) {
  .progress-amt {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: 1px solid $yellow-dark;
    text-align: center;
    line-height: 55px;
    background: $yellow-pale;
  }
}
@media (min-width: 1400px) {
  .jumbotron {
    background-size: cover !important;
  }
}
